{{! src/views/realTimeProducts.handlebars }}

<h1>Real Time Products</h1>

<ul id="productList">
  {{#each products}}
    <li>
      <strong>{{this.title}}</strong>
      - ${{this.price}}
      <button onclick="deleteProduct({{this.id}})">Eliminar</button>
    </li>
  {{/each}}
</ul>

<h2>Agregar Producto</h2>
<form id="productForm">
  <input type="text" id="title" placeholder="Título" required />
  <input type="number" id="price" placeholder="Precio" required />
  <input type="text" id="code" placeholder="Código" required />
  <input type="number" id="stock" placeholder="Stock" required />
  <input type="text" id="category" placeholder="Categoría" required />
  <button type="submit">Agregar Producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/index.js"></script>
<!-- Incluyendo el archivo de sockets -->